// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.catalog-image{
 width: 250px;
    height: 250px;
}
.product-container{
    margin: 10px;
}
