/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #331d35;
  cursor:default;
}

a {
  color: #41307c;
  text-decoration: none;
}
section#product {
	margin-top:100px;
	padding:20px;
}
.img {
	margin-bottom:20px;
}
	.img img {
		max-width:100%;
		margin:0 auto;
		display:table;
	}
.logocomp {
	
}	
.logocomp a > img {
	max-width:200px;
	margin-bottom:20px;
}
.order-call {
	width:30px;
	height:30px;
	background:#3EBA2E;
	border-radius:100px;
	color:#fff;
	display:inline-block;
	text-align:center;
	line-height:33px;
	cursor:pointer;
	margin-left:20px;
	position:relative;
	top:-5px;
	animation: radial-pulse 1s infinite;
	
}
.order-call:hover {
	background:#329425;
}
.div-right-block {
    margin-bottom: 20px;
}
.text-right-block {
	
}.text-right-block p{
	color: #86939E;
}
.div-right-block > h1 {
	padding-bottom:20px;
}
.hr {
	border-bottom: 1px solid #E1E8EE;
	margin:15px 0;
	height:1px;
	width:100%;
}

.color-div ul.chec-radio {
   margin: 15px 0;
    padding: 0;
}
.color-div ul.chec-radio li.pz {
    display: inline;
}
.color-div .chec-radio .radio-inline .clab {
    cursor: pointer;
    background: #fff;
    padding: 8px 15px;
    text-align: center;
	border-radius:4px;
    position: relative;
    float: left;
    margin: 0;
    margin-bottom: 5px;
	border:2px solid #E1E8EE;
	color:#555;
}
.color-div .chec-radio label.radio-inline input[type="radio"] {
    display: none;
}
.color-div .chec-radio label.radio-inline input[type="radio"]:checked+div , .color-div .chec-radio label.radio-inline input[type="radio"]:hover {
    color: #343A40;
    background-color: #fff;
	border: 2px solid #343A40;
}

.materials {
	
}
.materials_item {
	
}
.materials_item p{
	color: #86939E;
}
.order {
	display: flex;
    align-items: center;
	padding:25px 0;
}
.order p span {
    font-size: 25px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}
.order p a {
    display: inline-block;
    background:#3EBA2E;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}
.order p a:hover {
    background-color: #64af3d;
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(50,148,37, 0.5);
  }
 
  100% {
    box-shadow: 0 0 0 6px rgba(50,148,37, 0);
  }
}
.alert-secondary {
	font-size:14px;
}
.telmodal {
	
}
.telmodal p{
	font-size:25px;
	font-weight:bold;
	padding:5px 10px;
	margin:10px 0;
}
.telmodal p a{
	color:#fff;
}

.contcustom {
    text-align: center;
    width: 300px;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
    background-color: white;
    padding: 20px;
}
.contcustom h2 {
	margin-bottom:20px;
}
.order_modal input {
    width: 100%;
    margin-bottom: 17px;
    padding: 10px;
    background-color: #ECF4F4;
    border-radius: 2px;
    border: 1px solid #ddd;
	outline:none;
}
section#dop {
	margin-top:50px;
	margin-bottom:50px;
}
section#dop > .container > h2 {
	padding:20px;
}
.dop_item {
	
}
.dop_item > img {
	max-width:100%;
	padding-bottom:10px;
}
.dop_item a {
	padding:5px;
	font-size:14px;
}
.dop_item p.name_door{
	color:#86939E;
}
.thank-you-pop > p.text-center:first-child{
	color:#3EBA2E;
}
.thank-you-pop > p i {
	font-size:400%;
}
/*Default*/
.materials .checkbox{padding-left:20px}
.materials .checkbox label{display:inline-block;position:relative;padding-left:5px;font-weight:400;cursor:pointer;color: #86939E;}
.materials .checkbox label::after,.checkbox label::before{display:inline-block;position:absolute;left:0;margin-left:-20px}
.materials .checkbox label::before{content:"";width:17px;height:17px;border:1px solid #ccc;border-radius:3px;background-color:#fff;-webkit-transition:border .15s ease-in-out,color .15s ease-in-out;-o-transition:border .15s ease-in-out,color .15s ease-in-out;transition:border .15s ease-in-out,color .15s ease-in-out;position: relative; top: 3px;margin-right: 3px;}
.materials .checkbox label::after{width:16px;height:16px;top:0;padding-left:3px;padding-top:1px;font-size:11px;color:#555;padding-left: 8px; padding-top: 3px;}
.materials .checkbox input[type=checkbox]{opacity:0}
.materials .checkbox input[type=checkbox]:focus+label::before{outline:none;}
.materials .checkbox input[type=checkbox]:checked+label::after{font-family:FontAwesome;content:"\f00c"}

/* Primary */
.materials .checkbox-primary input[type=checkbox]:checked+label::before{background-color:#428bca;border-color:#428bca}
.materials .checkbox-primary input[type=checkbox]:checked+label::after{color:#fff}





















